@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Old+Standard+TT:wght@400&display=swap');

.mr-60{
    margin-right: 60px;
}

.box-shadow{
    box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 100px 80px rgba(0, 0, 0, 0.12)
}

.country-dropdown {
    max-height: 300px;
    overflow-y: scroll;
}

#brand {
    font-family: 'Playfair Display SC', serif;
    font-size: xx-large;
    text-align: center;
    position: sticky;
}

.playfair{
    font-family: 'Playfair Display SC', serif;
}

h4 {
    font-family: 'Old Standard TT', serif;
}

h5 {
    font-family: 'Old Standard TT', serif;
    font-weight: bolder;
}